*{
    font-family: Helvetica, sans-serif;
    border:0px;
    /* display: flex; */
    /* //flex-direction: row; */
    /*background-image: linear-gradient(to right, black, white);*/
    
}




.header {
    font: Helvetica;
    font-size: 30px;
    margin-top: 0px;
    text-decoration: none;
    color: black;
}

.header a {
    text-decoration: none;
    margin-top: 0px;
    
}

.bodyText{
    font: Helvetica;
    display: flex;
    flex-direction: column;
    margin-right:200px;
    margin-left: 40px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size:14px;
}

.bodyHeading{
    font-size:20px;
    line-height: 30px;
}

.bodyTextRight{
    flex: 2;
    font: Helvetica;
    flex-direction: column;
    margin-right:200px;
    margin-left: 40px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size:14px;

}

.flexParentElement{
    display: flex;
    width: 100%;
}

.Press{
    flex: 3;
}



/* .header:hover{
    color: lightslategrey; 
} */

.header a:visited{
    color: black;
}
.navigation {
    font: Helvetica;
    Color: black;
    /* display: flex; */
    justify-content:left;
    display: inline;
    font-weight: bold;
    margin-right: 0px;
    font-size: 29px;
    margin-top: 0px;
}

.mainPage {
    text-decoration: underline;
}
nav {
    padding-left: 0px;
    margin-left: 0px;
}

nav ul li {

    display: flex; /* Display the list items inline */
    flex-direction: row;
    margin-right: 0px; /* Add some spacing between the list items */
    text-decoration: none; /* Remove underline */
    padding-left: 0px;
    font-size: 29px;

}
nav ul li a {
    color: black; /* Set the color of the links */
    text-decoration: none; /* Remove underline */
    flex-direction: row;
}

nav ul li a:hover {
    color: #e7e7e7; /* Change color on hover */
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
/* header {
    background-color: #333;
    padding: 10px 0;
    font-family: Helvetica, sans-serif;
} */

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
} */

footer {
    
    color: black;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 0px;
} 

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color:#fff;
}
