*{
    font-family: Helvetica, sans-serif;
    border:0px;
    /* display: flex; */
    /* //flex-direction: row; */
    /*background-image: linear-gradient(to right, black, white);*/
    
}


.container {
    display: flex;
    justify-content: row;
    /* align-items:center; */
  }

.header {
    font: Helvetica;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: left;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    margin-bottom: 0px;
    /* width: 700px; */
    /* line-height: 45px; */
}

.header a {
    text-decoration: none;
    margin-top: 0px;
    
}

.header:hover {
    transform: scale(1.01);
    color: #e7e7e7;
}

.bodyText{
    font: Helvetica;
    display: flex;
    flex-direction: column;
    margin-right:200px;
    margin-left: 40px;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-size:14px;
}

.bodyHeading{
    font-size:20px;
    line-height: 30px;
}

.bodyTextRight{
    flex: 2;
    font: Helvetica;
    flex-direction: column;
    margin-right:200px;
    margin-left: 40px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size:14px;

}

.flexParentElement{
    display: flex;
    width: 100%;
}

.Press{
    flex: 3;
    justify-content: left;
}



/* .header:hover{
    color: lightslategrey; 
} */

.header a:visited{
    color: black;
}
.navigation {
    font: Helvetica;
    Color: black;
    /* display: flex; */
    /* justify-content:right; */
    padding-right: 10px;
    /* display: inline; */
    font-weight: bold;
    margin-right: 0px;
    font-size: 29px;
    margin-left: 500px;
    margin-top: 0px;
    /* display: flex;
    flex-direction: column; */
    text-decoration: none;
    
}

.mainPage {
    text-decoration: underline;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 10px;
    margin-left: 0px;
    text-decoration: none;
}

nav a {
    color: black;
    display: inline-flex; 
    /* flex-direction: row-reverse; */
    /* justify-content: left; */
    /* flex-direction: row; */
    margin-right: 0px; /* Add some spacing between the list items */
    text-decoration: none; /* Remove underline */
    padding-left: 10px;
    font-size: 29px;
    flex-wrap: wrap;
    flex-grow: grow;
    list-style: none;
}

nav li {
    font: Helvetica;
    font-weight: bold;
    color: black; /* Set the color of the links */
    text-decoration: none; /* Remove underline */
    padding: 4px;
	margin: 2px;
	/* justify-content: center; */
	flex-grow: 1;
    /* display: flex;
    flex-direction: row-reverse; */

}

nav a:hover {
    color: #e7e7e7; /* Change color on hover */
    transform: scale(1.1);
}

nav li a:visited {
    color: black;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
/* header {
    background-color: #333;
    padding: 10px 0;
    font-family: Helvetica, sans-serif;
} */

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
} */

footer {
    
    color: black;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 0px;
} 

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color:#fff;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width:200px;
}

.galley img:hover {
    filter: greyscale(50%);
    transform: scale(1.1);
}

.musicLogos {
    display: flex;
    flex-direction: row;
    width: 10px;
    gap: 100px;
    flex-wrap:wrap-reverse;
    justify-content: center;
    /* flex-direction: row-reverse; */
}

.musicItem {
    /* display: flex;
    flex-direction: column;
    display: inline-flex; */
}


.gumroad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 40px;
}